<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/templates/style/footerOne.css">
    <title>Pupuke Kāhui Ako</title>
</head>
<body>
    <div id="pageContainer">
        <header>
            <div id="logoContainer">
                <img src="/images/logo.png" id="logo" alt="">
            </div>
            <div id="headerContainer">
                <nav>
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li>
                            <div class="dropdown">
                                <a href="">INFORMATION</a>
                                <div class="dropdown-content">
                                  <a href="#">LAKE PUPUKE</a>
                                  <a href="#">RANGITOTO ISLAND</a>
                                  <a href="#">NGĀTI PĀOA</a>
                                  <a href="#">WAITEMATĀ HARBOUR</a>
                                </div>
                              </div>
                        </li>
                        <li><a href="">ABOUT US</a></li>
                        <li><a href="">GALLERY</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <footer>
            <h1>Footer</h1>
        </footer>
    </div>
</body>
</html>