<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/templates/style/headerOne.css">
    <title>Pupuke Kāhui Ako</title>
</head>
<body>
    <div id="pageContainer">
        <header>
            <div id="logoContainer">
                <img src="/images/logo.png" id="logo" alt="">
            </div>
            <div id="headerContainer"></div>
        </header>
    </div>
</body>
</html>