<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/templates/style/navTwo.css">
    <title>Pupuke Kāhui Ako</title>
</head>
<body>
    <div id="pageContainer">
        <header>
            <div id="logoContainer">
                <img src="/images/logo.png" id="logo" alt="">
            </div>
            <div id="headerContainer">
                <nav>
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT US</a></li>
                        <li><a href="">GALLERY</a></li>
                        <li id="dropdownSize" class="dropdown">
                            <a href="">INFORMATION</a>

                            <div class="hide">
                                <a href="">ASdada</a>
                                <a href="">d sadasd a</a>
                                <a href=""> fdsfsf </a>
                                <a href=""> sdad  as</a>
                            </div>

                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</body>
</html>