<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/templates/template.css">
    <title>Pupuke Kāhui Ako</title>
</head>
<body>
    <div id="pageContainer">
        <header>
            <div id="logoContainer">

            </div>
            <div id="headerContainer">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">HAHA</a></li>
                        <li><a href="">HEHE</a></li>
                        <li><a href="">HUHU</a></li>
                        <li><a href="">WOAH</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</body>
</html>