body {
    font-family: 'Segoe UI';
    background-color: #EAF7F6;
}

#pageContainer {
    width: 1700px;
    background-color: #ABDBE3;
    height: 2000px;
    margin: 0 auto;
    margin-top: -10px;
    box-shadow: 0px 0px 48px 30px rgba(0, 0, 0, 0.175);
}

#headerContainer {
    width: 1700px;
    height: 450px;
    text-align: center;
    float: left;
    background-color: #29ACB9;
    position: fixed;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 32%, 0 54%);
}

#logoContainer {
    clip-path: circle(53% at 35% 31%);
    background-color: #EAF7F6;
    width: 350px;
    height: 350px;
    z-index: 3;
    position: fixed;
}

nav {
    height: 90px;
    clear: both;
    text-align: center;
}

nav ul {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    float: right;
    margin-top: -15px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    width: 160px;
    text-decoration: none;
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    color: black;
    background-color: #ABDBE3;
    margin-right: 20px;
    border-radius: 20px;
    padding: 30px 5px 20px 5px;
}

nav li a:hover {
    box-shadow: 0px 0px 30px 10px #228E96;
}

#logo {
    width: 270px;
    padding-top: 10px;
}


.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
}
  

.dropdown-content a {
    width: 130px;
    padding: 5px 0px;
    border-radius: 0px;
    margin-left: 20px;
    margin-top: -1px;
    font-weight: 600;
    border-top: 1px solid black;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #228E96;
    color: white;
}

footer {
    width: 1700px;
    text-align: center;
    float: left;
    background-color: #29ACB9;
    margin-top: 1650px;
    bottom: 0px;
    z-index: 10;
    clip-path: polygon(0 54%, 100% 32%, 100% 100%, 0% 100%);
}

footer h1 {
    height: 100px;
    padding-top: 300px;
    margin: 0px;
    color: white;
}
